<div class="my-5">
  <form method="POST" action="">
    <div class="mb-3">
      <label for="search-input" class="form-label">Từ Khóa</label>
      <input
        type="text"
        class="form-control my-1"
        name=" q"
        id="search-input"
        placeholder="Nhập Từ Khóa"
      />
    <button type="submit" class="btn btn-primary mt-2">Search</button>
  </form>

  <div class="mb-3">
    <label for="gender-input">Gender</label>
    <select name="gender" id="gender-input" class="form-control">
        <option value="">--Chọn giới tính--</option>
        <option value="0">Nam</option>
        <option value="1">Nữ</option>
    </select>
  </div>
</div>
